/* usuario-hijo.component.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  }
  
  th, td {
    padding: 10px; /* Ajusta el espaciado interno de las celdas según sea necesario */
    border: 3px solid #ddd; /* Agrega bordes a las celdas */
    text-align: left; /* Ajusta la alineación del texto según sea necesario */
  }
  
  th {
    background-color: #f2f2f2; /* Agrega un color de fondo a las celdas del encabezado */
  }
  