<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Rol</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{indice+1}}</td>
      <td>{{usuarioDeLista.nombre}}</td>
      <td>{{usuarioDeLista.apellido}}</td>
      <td>{{usuarioDeLista.rol}}</td>
      <td>{{usuarioDeLista.email}}</td>
      <td>
        <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion:'1'}"  class="btn-actualizar">Actualizar</a>
        &nbsp;&nbsp;
        <a [routerLink]="['/actualiza', indice]" [queryParams]="{accion:'2'}" class="btn-eliminar" >Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>






  
  
  
   
