/* usuario-hijo.component.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  }
  
  th, td {
    padding: 10px; /* Ajusta el espaciado interno de las celdas según sea necesario */
    border: 3px solid #ddd; /* Agrega bordes a las celdas */
    text-align: left; /* Ajusta la alineación del texto según sea necesario */
  }
  
  th {
    background-color:  #fbf3e4 ; /* Agrega un color de fondo a las celdas del encabezado */
    color:  #a4bcbc  ;
  }
  
  /* styles.css */

  .btn-actualizar,
  .btn-eliminar {
    background-color: #6c7cab;
    color: #d4e3ec;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .btn-actualizar:hover,
  .btn-eliminar:hover {
    background-color: #6c7cab;
    color: #d4e3ec;
  }
  
  
  
