<div class="container"
    style="background-color: cadetblue; text-align: center; color: white; border-radius: 2%; width: 60%; margin: auto; padding: 20px; padding: 50px; display:block;">

    <div class="col">
        <h1 style="font-size: 40px;">Login</h1>
    </div>

    <form class="form-group row" #miFormulario="ngForm" (ngSubmit)="login(miFormulario)" style="text-align: center;">
        <div class="form-group col-md-6" style="margin: auto;">
            <input type="email" name="email" placeholder="Email" class="form-control" ngModel><br>
            <input type="password" name="password" placeholder="Password" class="form-control" ngModel><br>
        </div>
        <br><br>
        <div>
            <button type="submit" class="btn btn-primary" style="background-color: #6c7cab; color: #d4e3ec; border: none; padding: 10px 20px; border-radius: 5px;">Login</button>
        </div>
    </form>
</div>