<div class="container" style="background-color: cadetblue; text-align: center; color: white; border-radius: 2%;">
  <div class="col" ><br>
    <h1>Agregar Usuario</h1><br><br>
  </div>
  
  <!--Formulario-->
  <form class="form-group row" style="text-align: center; margin-bottom: 20px;">
  
    <div class="form-group col-md-3" style="width: 40%;margin-left: 360px;;">

      <label for="nombre">Nombre:&nbsp;</label><br>
      <input type="text" name="nombre" id="nombre"  [(ngModel)] = "cuadroNombre"><br>
      
    

    

      <label for="apellido">Apellido:&nbsp;</label><br>
      <input type="text" name="apellido" id="apellido"  [(ngModel)] = "cuadroApellido"><br>
      
    
    

      <label for="rol">Rol:&nbsp;</label><br>
      <input type="text" name="rol" id="rol"  [(ngModel)] = "cuadroRol"><br>
      
    

   

      <label for="email">Email:&nbsp;</label><br>
      <input type="text" name="email" id="email"  [(ngModel)] = "cuadroEmail"><br><br>
      
    

    
      
      <button type="submit" class="btn btn-primary" (click)="agregarUsuario()" style="margin-top: 15px;" style="background-color: #6c7cab; color: #d4e3ec; border: none; padding: 10px 20px; border-radius: 5px;">Agregar</button>
    </div>
  </form>

