<div class="container" style="background-color: cadetblue;text-align: center;background-color: cadetblue;color: white;border-radius: 2%; padding: 50px; display:block;">
  
  <div class="col"  ><br>
    <h1 style="font-size:80px ;">Usuario</h1><br>
  </div>
  <!--Formulario-->
  <form class="form-group row" style="text-align: center;">
  
    <div class="form-group col-md-3" style="width: 30%;margin-left: 35%;;">

      <label for="nombre">Nombre:&nbsp;</label><br>
      <input type="text" name="nombre" id="nombre"  [(ngModel)] = "cuadroNombre"><br>
      
    

      <label for="apellido">Apellido:&nbsp;</label><br>
      <input type="text" name="apellido" id="apellido"  [(ngModel)] = "cuadroApellido"><br>
      
   

      <label for="rol">Rol:&nbsp;</label><br>
      <input type="text" name="rol" id="rol"  [(ngModel)] = "cuadroRol"><br>
      
    

      <label for="email">Email:&nbsp;</label><br>
      <input type="text" name="email" id="email"  [(ngModel)] = "cuadroEmail"><br><br>
      
    

    
      
      <button type="submit" class="btn btn-primary" (click)="actualizaUsuario()" style="background-color: #6c7cab; color: #d4e3ec; border: none; padding: 10px 20px; border-radius: 5px;">Realizar</button>
      <!--<button type="submit" class="btn btn-primary" (click)="eliminaUsuario()" style="margin-top: 35px;">Eliminar</button>-->
    </div>
  </form>


